* {
   font-family: Arial, Helvetica, sans-serif;
   padding: 0;
   margin : 0;
   box-sizing: border-box;
}

body {
   margin: 2rem 6rem ;
}

header div {
   display: flex;
}
figure{
   position: absolute;
   right: 10% ;
   transform: rotate(-15deg);
}

img{
   background-image: url(../images/CV-profile.jpg);
}

#about {
   border-top : 1px solid rgba(128, 128, 128, 0.5);
   margin-bottom: 2rem;
}

#about > p {
   width: 80%;
   margin: 20px 0;
   color: gray;
   font-style: italic;
}

#about > h3 {
   display: none;
}

hgroup > h2 {
   display: none;
}

h3 {
   font-style: italic;
}



.skills-primary {
   grid-area: b;
   display: flex;
}
.skills-secondary {
   grid-area: c;
   display: flex;
}

#competencies > p {
   display: none ;
}

#competencies >  h3 {
   grid-area: a ;
   border-right : 1px solid black;
   padding-bottom: 30px;
   margin-right: 10px 
   ;
}
#competencies {
   display: grid;
   grid-template-areas: 
   'a b'
   'a c';
   grid-template-columns: 150px auto;
   margin: 3rem 0;
}
#experiences {
   display: grid ;
   grid-template-areas: 
   'd e'
   'd f';
   grid-template-columns: 150px auto;
   margin-bottom: 20px;
}
#experiences > h3 {
   grid-area: d;
   border-right: 1px solid black;
   margin-right: 10px;
}
#experiences .experience:first-child{
   grid-area: e;
}
#experiences .experience:last-child {
   grid-area: f;
} 
 .experience {
   margin-bottom: 30px;
   display: grid;
   grid-template-areas: 
   'm n'
   'o o';
 }
 .experience > h4 {
   margin-bottom: 30px;
   color: #008f9c;
   grid-area: m;
 }

 .experience-details{
   color: grey;
   opacity: 70%;
   display: flex;
   justify-content: end;
   grid-area: n;
}
.experience-description{
   grid-area: o ;
}

#education {
   display: grid ;
   grid-template-areas: 
   'g h'
   'g i';
   grid-template-columns: 150px auto;
}
#education > h3 {
   grid-area: g;
   border-right: 1px solid black ;
   margin-right: 10px;
}
#education .experience:first-child {
   grid-area: h;
}
#education .experience:last-child {
   grid-area: i;
}

#hobbies {
   display: grid ;
   grid-template-areas: 
    'j k';
   grid-template-columns: 150px auto;
   margin-top: 30px ;
}

#hobbies > h3 {
   grid-area: j ;
   border-right: 1px solid black ;
   margin-right: 10px;
}

#hobbies > ul {
   grid-area: k ;
   margin-left: 20px;
}

#contact {
   display: flex;
   justify-content: center;
   margin-top: 40px;
}

#contact > h3  {
  display: none;
}

.contacts {
   display: flex;
}

.skill {
   background-color: #008f9c;
   padding: 5px;
   margin: 4px;
   width: 140px;
   color: white;
}

.skills-primary .skill:nth-child(1) span::after {
   content: "\2605 \2605 \2605" ;
   font-size: 17px;
}
.skills-primary .skill:nth-child(2) span::after {
   content: "\2605 \2605" ;
   font-size: 17px;
}
.skills-primary .skill:nth-child(3) span::after {
   content: "\2605" ;
   font-size: 17px;
}
.skills-secondary .skill:nth-child(1) span::after {
   content: "\2605 \2605 \2605 \2605 \2605" ;
   font-size: 10px;
}
.skills-secondary .skill:nth-child(2) span::after {
   content: "\2605 \2605 \2605" ;
   font-size: 10px;
}
.skills-secondary .skill:nth-child(3) span::after {
   content: "\2605 \2605 \2605 \2605" ;
   font-size: 10px;   
}
#competencies span{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#contact a{
   color: rgba(0, 0, 0, 0);
}

.contact-email{
   background: url("../images/email.png");
}

.contact-phone{
   background: url("../images/phone.png");
}

.contact-github{
   background: url("../images/github.png");
}

.contact-facebook{
   background: url("../images/facebook.png");
}

.contact-skype{
   display: none;
}

.contact{
   background-size: contain;
   background-repeat: no-repeat;
   width: 100px;
   height: 100px;
   color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 700px) {
   header div figure{
      display: none;
  }

  #about p{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }

  #competencies {
   display: block;
  }

  #competencies > h3 , #experiences > h3 , #education > h3 , #hobbies > h3{
   border-right: 0px ;
   padding-bottom: 1px;
   border-bottom: 1px solid black;
   margin-right: 0;
   margin-bottom: 5px ;
   width: fit-content;
  }

  #experiences , #education {
   display: flex;
   flex-direction: column;
  }

  .experience {
   margin: 30px 0px
  }

  #hobbies {
   display: flex;
   flex-direction: column;
  }

  .contacts {
   display: flex;
   flex-wrap: wrap;
  }
  body {
   margin: 1rem 3rem ;
}
}