*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

header {
    background-color: gray ;
    color: red;
    display: flex;
}



h3 {
    position: relative;
    border-bottom: 1px solid grey ;
    margin: 1rem 0;
    padding: 1rem ;
}
 h3::before {
    display: block;
    position: absolute;
    left: -0.4rem ;
    top: 50%;
    content: "";
    width : 1rem ;
    height: 1rem;
    background-color: red;
    transform: translateY(-50%);
    border-radius: 50%;
 }
header > div {
    display: flex;
    margin-left: 4rem ;
}
.content {
 display: grid;
 grid-template-columns: 50% 50%;
 margin : 10px 10% ;
}

#contact {
  position: absolute;
  top : 0rem ; 
  right : 0 ;
  width: 50% ;
  margin-top: 1rem;
  margin-right: 0;
}
 .contacts {
    display: flex;
    flex-direction: column;
 }
 .contact {
    display: flex;
    color: white;
 }

 #contact > h3 {
    display: none;
 }

 .contact-type {
    background-color: red;
    width : 10rem ;
    padding-left : 0.2rem;
 }
 .contact-value{
    background-color: black;
    color : red ;
    width: 100%;
 }
 .contact-value > a {
    text-decoration: none;
    color: inherit;
 }

figure {
    margin : 1rem 0.1rem ;
}

 .skill {
    background-color: grey;
    height: 2rem;
    color: white;
    margin: 2px 0 ;
    padding: 4px;
 }
 .skill span {
    height: auto;
    display: flex;
    background-color: red;
    padding: 0.2rem;
 }

 [data-skill="9"] > span  {
 width: 90%;
 }

 [data-skill="5"] > span  {
    width: 50%;
    }

[data-skill="3"] > span  {
 width: 30%;
 }

 [data-skill="7"] > span  {
 width: 70%;
 }

 [data-skill="1"] > span  {
 width: 10%;
 }

.skills-primary {
    margin-bottom: 1rem;
}

 .skills-secondary {
    opacity : 60% 
 }

 .experience-type {
    color: red;
 }

 .experience-institution {
    color: red;
    font-weight: lighter;
 }

 .experience-details {
    color: grey;
    opacity: 80%;
    padding: 0 10px ;
 }

 .experience-description {
    margin: 20px 0;
 }

 .experience-date-separator {
    color: red;
 }

 section{
    margin: 0 10px;
 }
 #hobbies ul {
    margin-left: 2rem;
 }



 @media screen and (max-width: 930px ){
    .content {
        display: flex;
        flex-direction: column;
    }
    header > div {
        flex-direction: column;
        margin-left: 4rem ;
    }
    #contact {
        margin-top: 4rem ;
      }
    .contact-value {
        background-color: white;
    }
    #contact {
        flex-direction: column;
        position: initial ;
        display: flex;
        margin-top: 2rem ;
        width: 100%;
      }
      #contact > h3 {
         display: initial;
      }
 }